.post-content {
    padding: 10px 10px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.read-more-block:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 48px;
    content: "";
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.coverImg {
    width: 100%;
    height: 300px;
    /* line-height: 200px; */
    overflow: hidden;
    text-align: center;
    align-content: center;
    vertical-align: -webkit-baseline-middle;
}
.coverImg img {
    max-width: 100%;
    vertical-align: middle;
    /* margin: -100%; */
    position: relative;
}
.thumbnailcontainer{
    width: 100%;
    height: 230px;
    overflow: hidden;
    text-align: center;
    align-content: center;
}
.post {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post:after {
    width: 100%;
    height: 7px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(105, 106, 97,0), rgba(105, 106, 97,.1));
    border-radius: 0 0 15px 15px;
}