{% extends "layout.html" %} {% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Categories</h1>
            <div class="list-group">
                <a href="/heroes/" class="list-group-item">Marvel Heroes</a>
                <a href="/news/" class="list-group-item">News</a>
                <a href="#" class="list-group-item">Others? (???)</a>
            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <h1 style="margin-top:30px">News for MA4</h1>
            <div class="listcontainer">
                <div class="row">
                    
                    {% csrf_token %} {% for news in news_list %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100 post">
                            <a href="#" class="newscontainer">
                                <img class="card-img-top" src={{news.image}} alt="">
                            </a>
                            <div class="card-body" style="height:200px; overflow:hidden">
                                <h5 class="card-title">
                                    <a href="#">{{news.title}}</a>
                                </h5>
                                <p><i>{{news.date}}</i></p>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <!-- /.row -->
            </div>
            <!-- /.listcontainer -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock %}}